@import url('https://fonts.googleapis.com/css?family=Varela+Round');



.background {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../images/Background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.logo {
	margin-top: 40px;
	margin-bottom: 50px;
	width: 100%;
}

.slogan{
  font-weight: 400 !important;
}

.icon {
	margin: 1px, 100px, 10px, 1px;
	width: 50px;
	height: 50px;
	border-radius: 3px;
}

.button-div {
	margin-top: 50px;
	text-align: center;
}

.button-text {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.button-text:hover {
	color: #fff;
	text-decoration: none;
}

.center-text{
	text-align: center;
}

.full-width {
	width: 100%;
}





// Test shit


#button {
  width: 20vw;
  height: 6vw;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%,-80%);
  font-family: 'Varela Round', sans-serif;
  font-size: 2vw;
  letter-spacing: 0.1em;
  color: #e8e8e8;
  border: none;
  border-radius: 10px;
  outline: none;
  background: linear-gradient(45deg,#d350db,teal,#d350db);
  background-size: 400% 400%;
  box-shadow: 1vw 1vw 0 lightcoral;
  cursor: pointer;
  transition: all 0.3s ease;
  
  &:hover {
    animation: gradient 10s ease infinite;
    font-size: 2.05vw;
    box-shadow: 0.2vw 0.2vw 0 lightcoral;
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}